.features {
  .feature {
    margin-bottom: 20px;

    .ant-card-body {
      .ant-btn {
        margin-bottom: 20px;
      }

      .ant-alert {
        margin-bottom: 20px;
      }
    }
  }

  .button-back {
    margin-bottom: 30px;
  }
}
