.features {
  h1 {
    margin-bottom: 10px;
  }

  .feature {
    margin-bottom: 20px;
  }

  .button-light {
    border-color: #2CBBD7;
    margin-bottom: 10px;
  }

  .button {
    padding: initial;
  }

  .button-back {
    margin-bottom: 50px;
  }
}
