.carousel-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 30px 0;
    position: relative;
}

.carousel {
    display: flex;
    position: relative;
    padding-inline-start: 16px;
}

.arrow {
    position: absolute;
    top: 0;
}

.arrow-bottom {
    position: absolute;
    bottom: 0;
    transform: rotate(180deg);
}