.intro {
  .ant-btn + .ant-btn {
    margin-top: 20px;
  }
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  transition: 0.4s ease-out;
}

.spin-section {
  display: flex;
  align-items: center;
  flex: 1;
  transition: 0.4s ease-out;
}